<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Home</title>
    <link th:remove="all" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/webjars/bootstrap/5.2.0/dist/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous"
          type="text/css">
</head>
<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="mrw007.springframework.spring5recipeapp.models.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">My Recipes!</h1>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 1</td>
                                <td><a th:href="">View</a></td>
                                <td><a th:href="">Update</a></td>
                                <td><a th:href="">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">12333</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 2</td>
                                <td><a th:href="">View</a></td>
                                <td><a th:href="">Update</a></td>
                                <td><a th:href="">Delete</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a th:href="@{'/recipe/'+ ${recipe.id} + '/show'}">View</a></td>
                                <td><a th:href="@{'/recipe/'+ ${recipe.id} + '/update'}">Update</a></td>
                                <td><a th:href="@{'/recipe/'+ ${recipe.id} + '/delete'}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/5.2.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:remove="all" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>